@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(249, 250, 215);
}
h1{
    font-weight: bold;
}

p{
    font-weight: 400;
}